



/* Filter Component  */
.filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}
.filters>span{
    padding-bottom: 20px;
}
.title{
    font-size: 30px;
}


/* SINGLE PRODUCTS  */
.products{
    margin: 10px;
    width: 30%;
}


.cartImage{
    height: 50px;
    border-radius: 50%;
    width: 50px;
    object-fit: cover;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartItemDetails{
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}
.summary{
    width: 30%;
}